cafe{
  display: flex;
  flex-direction: row;
  font-family: Verdana, Arial;
  padding:5%;
  margin:5%;
  background-color: #28313E;
}

menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F1F1F1;
  padding:1%;
  margin:1%;
  width:50%;
}

item{
  word-wrap: break-word;
  display: block;
  float: center;
  text-align: center;
  width:28%;
  border: 1px solid black;
  padding:1%;
  margin:1%;
  float:left;

}

pracownicy{
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  width: 50%;
  padding:1%;
  margin:1%;
  justify-content: center;
}

pracownik>imie,pracownik>nazwisko,pracownik>stanowisko,pracownik>kontakt,pracownik>adres,pracownik>pensja
{
  word-wrap: break-word;
  display: block;
  float: center;
  font-size: 12px;
  text-align: center;
  width: 90%;
  border: 1px solid black;
  padding:1%;
  margin:1%;
}

pracownik{
  border: 1px solid black;
  width: 33.33%;
  padding:1%;
  margin:1%;
  background-color: #F0F8FF;
}
