body{

}

cafe{
  padding: 5%;
  margin: 10%;
  display: block;
  float: top;
  font-family: Verdana, Arial;
  background-image: url("memphis-mini-dark.png");
  cursor: url("cursor.png"), auto;

}

menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F1;
  padding:1%;
  margin:1%;
  width:50%;
  text-align: center;
}

item{
  word-wrap: break-word;
  display: inline-block;
  float: top;
  text-transform: uppercase;
  width:28%;
  padding:1%;
  margin:1%;
  float:left;
  font-size: 11px;
  text-shadow: 2px 2px #ffdaf3;
}

item>drink>ml{
background-color: bisque;
}


pracownicy{
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  width: 50%;
  padding:1%;
  margin:1%;
  justify-content: center;

}

pracownik>imie,pracownik>nazwisko,pracownik>stanowisko,pracownik>kontakt,pracownik>adres,pracownik>pensja
{
  text-transform: uppercase;
  word-wrap: break-word;
  display: block;
  float: top;
  font-size: 10px;
  text-align: center;
  width: 90%;
  border: 1px solid black;
  padding:1%;
  margin:1%;
  text-shadow: 2px 2px #ffdaf3;
}

pracownik{
  border: 1px solid black;
  width: 33.33%;
  padding:1%;
  margin:1%;
  background-color: #F0F8FF;
}

item:hover
{
  animation-name: onmouse;
  animation-duration: 1s;
}

@keyframes onmouse{
  from {background-color: #F1F1F1;}
  to {background-color: #9DBDAE;}
}